

<div class="cotainer text-center">
   
    <div class="row mt-5">
        <div class="col-sm-2"></div>
        <div class="col-sm-4">
            <img src="../../assets/images/Fruits.jpeg" class="img-fluid img-thumbnail" alt="" (click)="goToProduct(1)">
        </div>
        <div class="col-sm-4">
            <img src="../../assets/images/Flowers.jpeg" class="img-fluid img-thumbnail" alt="">
        </div>
        <div class="col-sm-2"></div>
    </div>
    <div class="row mb-5">
        <div class="col-sm-2"></div>
        <div class="col-sm-4">
            <img src="../../assets/images/Electronics.jpeg" 
            class="img-fluid img-thumbnail" alt="">
        </div>
        <div class="col-sm-4">
            <img src="../../assets/images/Attire.jpeg"
            class="img-fluid img-thumbnail" alt="">
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>
