
 <section>
    <div class="row my-3">
        <div class="col-sm-2"></div>
        <div class="col-sm-2"></div>
        <div class="col-sm-2"></div>
        <div class="col-sm-2"></div>
        <div class="col-sm-2"></div>
        <div class="col-sm-2">
        <span><a (click)="viewCart()"> <i class="fas fa-cart-plus fa-3x mr-3"></i> </a> {{cartSize()}}</span>
        </div>
    </div>
</section>


<div class="container">
    <div class="row mb-5">
        <div class="col-sm-4">
            <img src="../../assets/images/{{products.name}}.jpeg" 
            class="img-thumbnail" style="height: 300px" alt="Responsive image">
        </div>
        <div class="col-sm-8">
        <h4 class="text-center">{{products.name}}</h4>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt ut atque deleniti distinctio qui dolor in voluptatem cupiditate eos, doloribus quo fuga dicta odio iure expedita tenetur fugiat! Suscipit, atque?</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi, dolore officiis quis pariatur eligendi numquam ratione beatae porro tempore dolores nam suscipit. Odio placeat provident, deserunt quod ipsam ducimus rerum!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus inventore placeat ducimus vel architecto eius commodi quaerat impedit accusantium, quidem voluptatem et, nemo eveniet qui? Itaque non alias perferendis doloremque.</p>
        </div>
    </div>
    <div class="row mb-5">
        <a class="btn btn-primary mx-3" (click)="addToCart()">Add To Cart</a>
        <a class="btn btn-primary mx-3" (click)="continueShopping()">Continue Shopping</a>
    </div>
</div>
